In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("data/dataset.csv")
df.head()

/var/folders/cl/wqxhc67j255bdr0rmv_bl3580000gn/T/ipykernel_59543/2799292529.py:1: DtypeWarning: Columns (9,12,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/dataset.csv")

,Unnamed: 0,SessionID,Start,End,kWh,Revenue,City,PortNum,PortType,Adapter,...,Tariff,MaxPower,Fishka,Successful,DisconnectionReason,Latitude,Longitude,Type_SLOW,Type_ULTRAFAST,ChargingTime
0,0,591686,2021-01-01 00:05:34,2021-01-01 00:31:22,6.033,27.15,Київ,3,Type 2 Plug,False,...,4.50,NaN,True,True,NaN,50.43104,30.39037,0,0,25.80
1,1,591720,2021-01-01 01:40:37,2021-01-01 01:42:19,0.890,6.22,Київ,1,CHAdeMO,False,...,6.99,NaN,True,True,NaN,50.48207,30.48725,0,0,1.70
2,2,591749,2021-01-01 02:12:35,2021-01-01 03:07:36,3.300,14.85,Стрый,1,Type 2,False,...,4.50,NaN,True,True,NaN,49.24778,23.85610,1,0,55.02
3,3,591755,2021-01-01 02:32:21,2021-01-01 02:57:08,6.880,48.09,Київ,1,CHAdeMO,False,...,6.99,NaN,True,True,NaN,50.48207,30.48725,0,0,24.78
4,4,591783,2021-01-01 03:39:03,2021-01-01 04:02:05,12.630,56.84,Київ,3,Type 2 Plug,False,...,4.50,NaN,True,True,NaN,50.43104,30.39037,0,0,23.03

In [9]:
df['Successful'].unique()

array([True, nan], dtype=object)

In [17]:
df_cleaned = df.dropna(subset=['Successful'])
df_cleaned = df_cleaned.drop(columns = ['Successful', 'Unnamed: 0'])
df_cleaned

,SessionID,Start,End,kWh,Revenue,City,PortNum,PortType,Adapter,Client,Tariff,MaxPower,Fishka,DisconnectionReason,Latitude,Longitude,Type_SLOW,Type_ULTRAFAST,ChargingTime
0,591686,2021-01-01 00:05:34,2021-01-01 00:31:22,6.033,27.15,Київ,3,Type 2 Plug,False,553804960,4.50,NaN,True,NaN,50.43104,30.39037,0,0,25.80
1,591720,2021-01-01 01:40:37,2021-01-01 01:42:19,0.890,6.22,Київ,1,CHAdeMO,False,550843379,6.99,NaN,True,NaN,50.48207,30.48725,0,0,1.70
2,591749,2021-01-01 02:12:35,2021-01-01 03:07:36,3.300,14.85,Стрый,1,Type 2,False,540085134,4.50,NaN,True,NaN,49.24778,23.85610,1,0,55.02
3,591755,2021-01-01 02:32:21,2021-01-01 02:57:08,6.880,48.09,Київ,1,CHAdeMO,False,828881697,6.99,NaN,True,NaN,50.48207,30.48725,0,0,24.78
4,591783,2021-01-01 03:39:03,2021-01-01 04:02:05,12.630,56.84,Київ,3,Type 2 Plug,False,553804960,4.50,NaN,True,NaN,50.43104,30.39037,0,0,23.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372182,2486542,2024-10-31 23:27:29,2024-10-31 23:35:31,1.400,22.39,Київ,2,CHAdeMO,NaN,823585024,15.99,16.0,NaN,Дистанційна зупинка,50.46754,30.35680,0,0,8.03
372183,2486548,2024-10-31 23:39:18,2024-11-01 00:06:30,44.931,763.38,Біла Криниця,1,CCS 2,NaN,544295795,16.99,119.0,NaN,NaN,50.60912,26.37798,0,1,27.20
372184,2486554,2024-10-31 23:50:28,2024-10-31 23:57:16,13.338,226.61,Нерубайське,1,CCS 2,NaN,603258103,16.99,148.0,NaN,Недостатньо коштів,46.53692,30.65360,0,1,6.80
372185,2486555,2024-10-31 23:50:34,2024-11-01 00:16:22,13.718,233.07,Солонка,1,CCS 2,NaN,535769215,16.99,38.0,NaN,Недостатньо коштів,49.75055,24.01561,0,1,25.80
372186,2486556,2024-10-31 23:50:43,2024-11-01 01:43:12,58.693,997.19,Нерубайське,1,CCS 2,NaN,858162982,16.99,91.0,True,Недостатньо коштів,46.53692,30.65360,0,1,112.48

In [ ]:
df_cleaned.to_csv('unsuccessful.csv')